<!DOCTYPE html>
<html lang="ja">
 <head>
    <meta charset="UTF-8">
     <title>メニュー画面</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
 </head>

 <body>
  <h2>ようこそ <span id="username"></span> さん</h2>


  <div class="liststyle">
    <button ID="loginback">前のページに戻る</button>
  </div>

  <div class="liststyle">
  <button id="register">従業員登録</button>
  <button id="stamping">出退勤の打刻ページ</button>
</div>

<script>
  
    async function loadUser() {
      const token = localStorage.getItem("token")

      if (!token) {
        // ログインしてなければ戻す
        window.location.href = "/";
        return;
      }

    const res = await fetch("/list/api/me", {
      // jwtお決まりの文言でこの人がログインした人ですという認証
    headers: {
    Authorization: `Bearer ${token}`
   }
  });

      const data = await res.json();
      document.getElementById("username").innerText = data.name;
    }

    loadUser();

document.getElementById("loginback").addEventListener("click",()=>{
    window.location.href="/"
  });

  document.getElementById("register").addEventListener("click",()=>{
    window.location.href="/register"
  });

  document.getElementById("stamping").addEventListener("click",()=>{
    window.location.href="/stamping"
  });

</script>
 </body>
</html>